.navbar a.nav-cibm {
  font-size: 16px;
  text-transform: uppercase;
  padding-left: 1em !important;
  padding-right: 1em !important;
  color: white !important; }
  .navbar a.nav-cibm:hover {
    color: #d9d9d9 !important; }

.carousel-item {
  height: 75vh; }

.carousel-image-1 {
  background-image: linear-gradient(to right bottom, rgba(204, 230, 255, 0.4), rgba(26, 144, 255, 0.4)), url("../img/flowers.jpg");
  background-size: cover; }

.carousel-image-2 {
  background-image: linear-gradient(to right bottom, rgba(204, 230, 255, 0.4), rgba(26, 144, 255, 0.4)), url("../img/table.jpg");
  background-size: cover; }

.carousel-image-3 {
  background-image: linear-gradient(to right bottom, rgba(204, 230, 255, 0.4), rgba(26, 144, 255, 0.4)), url("../img/coffee.jpg");
  background-size: cover; }

.image-classic-check {
  height: 600px;
  background: url("../img/classic-check.jpg");
  background-size: cover; }

.card-image-checking {
  background-size: cover;
  height: 250px;
  width: 300px; }
  .card-image-checking-1 {
    background-image: -webkit-linear-gradient(top left, rgba(35, 54, 84, 0.6), rgba(35, 54, 84, 0.6)), url("../img/online-banking-card.jpg");
    background-image: -o-linear-gradient(top left, rgba(35, 54, 84, 0.6), rgba(35, 54, 84, 0.6)), url("../img/online-banking-card.jpg");
    background-image: linear-gradient(to bottom right, rgba(35, 54, 84, 0.6), rgba(35, 54, 84, 0.6)), url("../img/online-banking-card.jpg"); }
    .card-image-checking-1:hover {
      background-image: -webkit-linear-gradient(top left, rgba(35, 54, 84, 0.4), rgba(35, 54, 84, 0.4)), url("../img/online-banking-card.jpg");
      background-image: -o-linear-gradient(top left, rgba(35, 54, 84, 0.4), rgba(35, 54, 84, 0.4)), url("../img/online-banking-card.jpg");
      background-image: linear-gradient(to bottom right, rgba(35, 54, 84, 0.4), rgba(35, 54, 84, 0.4)), url("../img/online-banking-card.jpg"); }
  .card-image-checking-2 {
    background-image: -webkit-linear-gradient(top left, rgba(35, 54, 84, 0.6), rgba(35, 54, 84, 0.6)), url("../img/winter-couple.jpg");
    background-image: -o-linear-gradient(top left, rgba(35, 54, 84, 0.6), rgba(35, 54, 84, 0.6)), url("../img/winter-couple.jpg");
    background-image: linear-gradient(to bottom right, rgba(35, 54, 84, 0.6), rgba(35, 54, 84, 0.6)), url("../img/winter-couple.jpg"); }
    .card-image-checking-2:hover {
      background-image: -webkit-linear-gradient(top left, rgba(35, 54, 84, 0.4), rgba(35, 54, 84, 0.4)), url("../img/winter-couple.jpg");
      background-image: -o-linear-gradient(top left, rgba(35, 54, 84, 0.4), rgba(35, 54, 84, 0.4)), url("../img/winter-couple.jpg");
      background-image: linear-gradient(to bottom right, rgba(35, 54, 84, 0.4), rgba(35, 54, 84, 0.4)), url("../img/winter-couple.jpg"); }
  .card-image-checking-3 {
    background-image: -webkit-linear-gradient(top left, rgba(35, 54, 84, 0.6), rgba(35, 54, 84, 0.6)), url("../img/family-bed.jpg");
    background-image: -o-linear-gradient(top left, rgba(35, 54, 84, 0.6), rgba(35, 54, 84, 0.6)), url("../img/family-bed.jpg");
    background-image: linear-gradient(to bottom right, rgba(35, 54, 84, 0.6), rgba(35, 54, 84, 0.6)), url("../img/family-bed.jpg"); }
    .card-image-checking-3:hover {
      background-image: -webkit-linear-gradient(top left, rgba(35, 54, 84, 0.4), rgba(35, 54, 84, 0.4)), url("../img/family-bed.jpg");
      background-image: -o-linear-gradient(top left, rgba(35, 54, 84, 0.4), rgba(35, 54, 84, 0.4)), url("../img/family-bed.jpg");
      background-image: linear-gradient(to bottom right, rgba(35, 54, 84, 0.4), rgba(35, 54, 84, 0.4)), url("../img/family-bed.jpg"); }
  .card-image-checking-4 {
    background-image: -webkit-linear-gradient(top left, rgba(35, 54, 84, 0.6), rgba(35, 54, 84, 0.6)), url("../img/dad-daughter-mobile.jpg");
    background-image: -o-linear-gradient(top left, rgba(35, 54, 84, 0.6), rgba(35, 54, 84, 0.6)), url("../img/dad-daughter-mobile.jpg");
    background-image: linear-gradient(to bottom right, rgba(35, 54, 84, 0.6), rgba(35, 54, 84, 0.6)), url("../img/dad-daughter-mobile.jpg"); }
    .card-image-checking-4:hover {
      background-image: -webkit-linear-gradient(top left, rgba(35, 54, 84, 0.4), rgba(35, 54, 84, 0.4)), url("../img/dad-daughter-mobile.jpg");
      background-image: -o-linear-gradient(top left, rgba(35, 54, 84, 0.4), rgba(35, 54, 84, 0.4)), url("../img/dad-daughter-mobile.jpg");
      background-image: linear-gradient(to bottom right, rgba(35, 54, 84, 0.4), rgba(35, 54, 84, 0.4)), url("../img/dad-daughter-mobile.jpg"); }
  .card-image-checking-5 {
    background-image: -webkit-linear-gradient(top left, rgba(35, 54, 84, 0.6), rgba(35, 54, 84, 0.6)), url("../img/mother-daughter-ball.jpg");
    background-image: -o-linear-gradient(top left, rgba(35, 54, 84, 0.6), rgba(35, 54, 84, 0.6)), url("../img/mother-daughter-ball.jpg");
    background-image: linear-gradient(to bottom right, rgba(35, 54, 84, 0.6), rgba(35, 54, 84, 0.6)), url("../img/mother-daughter-ball.jpg"); }
    .card-image-checking-5:hover {
      background-image: -webkit-linear-gradient(top left, rgba(35, 54, 84, 0.4), rgba(35, 54, 84, 0.4)), url("../img/mother-daughter-ball.jpg");
      background-image: -o-linear-gradient(top left, rgba(35, 54, 84, 0.4), rgba(35, 54, 84, 0.4)), url("../img/mother-daughter-ball.jpg");
      background-image: linear-gradient(to bottom right, rgba(35, 54, 84, 0.4), rgba(35, 54, 84, 0.4)), url("../img/mother-daughter-ball.jpg"); }

.nav-link-white a {
  color: white; }

.card-text {
  font-weight: lighter;
  font-size: 18px; }
