
.flipcard {
  -webkit-perspective: 140rem;
  perspective: 140rem;
  -webkit-moz-perspective: 140rem;
  -moz-moz-perspective: 140rem;
  -ms-moz-perspective: 140rem;
  -o-moz-perspective: 140rem;
  moz-perspective: 140rem;
  position: relative;
  height: 40rem;

  &__side {
    color: #fff;
    font-size: 2rem;
    height: 40rem;
    transition: all 1s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(black, .15);

    &--front {
      background-color: #007bff;
    }

    &--back {
      background-image: linear-gradient(to right bottom, rgba(0, 123, 255, 1.0), rgba(179, 215, 255, 1.0));
      transform: rotateY(-180deg);

    }
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }

  &__picture {
    background-size: cover;
    height: 15rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    &--1 {
      background-image: linear-gradient(to right bottom, rgba(204, 230, 255, 0.4), rgba(26, 144, 255, 0.6)), url(../img/acceleration-girl-red.jpg);
    }

    &--2 {
      background-image: linear-gradient(to right bottom, rgba(204, 230, 255, 0.4), rgba(26, 144, 255, 0.6)), url(../img/online-banking.jpg);
    }

    &--3 {
      background-image: linear-gradient(to right bottom, rgba(204, 230, 255, 0.4), rgba(26, 144, 255, 0.6)), url(../img/rda.jpg);
    }
  }

  &__details {
    padding: 1rem;

    ul {
      list-style: none;
      width: 80%;

      li {
        text-align: center;
        font-size: 1rem;
        padding: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid #eee;
        }
      }
    }
  }

  &__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    font-weight: 200;
    text-align: center;
  }
}
